button {
  border-color: #7d1d3f;
  border-radius: 10px;
  border-width: 2px;
  background-color: white;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  margin: 0 5px 0 5px;
}

button:hover {
  background-color: #7d1d3f;
  color: white;
}
