.navbar-container {
  padding: 20px 20px 20px 20px;
  background-color: #f1f0ed;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.navbar-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1344px;
  margin: 0 auto;
}

button {
  font-size: 16px;
  letter-spacing: 0px;
  font-family: "Roboto", serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #67645e;
  transition: .3s ease all;
}

button:hover {
  color: white;
}

.left-menu{
  display: flex;
  gap: 20px;
}

.right-menu{
  display: flex;
  gap: 20px;
}